<div id="color-panel" >
    <p>You may dislike the back-white scale. You can create a color scale by yourself. Just choose a start color (e.g white) and end color (e.g. green) for the scale. Please choose the name from the color list from this link: http://www.w3schools.com/colors/colors_names.asp</p>
    <!-- I am not clear how to design an ease way for users to init color -->
    <div class="input-group">
      <!-- start color -->
      <span class="input-group-addon" id="basic-addon1">Start color:</span>
      <input type="text" class="form-control" placeholder="e.g. white" aria-describedby="basic-addon1" id='startColorID'>
      <!-- end color -->
      <span class="input-group-addon" id="basic-addon1">End color:</span>
      <input type="text" class="form-control" placeholder="e.g. green" aria-describedby="basic-addon1" id='endColorID'>
    </div>

    <br>

    <div>
        <button type="button" class="btn btn-default" id='colorConfirmButton' name='color_confirm'>Confirm</button>    
    </div>

</div>
