<div id="color-panel" >
    <!-- <p>You may dislike the color scale. You can create a color scale by yourself. Just choose a start color (e.g white) and end color (e.g. green) for the scale. Please choose the name from the color list from this link: http://www.w3schools.com/colors/colors_names.asp</p>
     -->
    <!-- <div class="input-group"> -->
      <!-- start color -->
      <!-- <span class="input-group-addon" id="basic-addon1">Start color:</span>
      <input type="text" class="form-control" placeholder="e.g. white" aria-describedby="basic-addon1" id='startColorID'>
       --><!-- end color -->
      <!-- <span class="input-group-addon" id="basic-addon1">End color:</span>
      <input type="text" class="form-control" placeholder="e.g. green" aria-describedby="basic-addon1" id='endColorID'>
    </div> -->
<!-- 
    <br>

    <div>
        <button type="button" class="btn btn-default" id='colorConfirmButton' name='color_confirm'>Confirm</button>    
    </div>

    <br>
 -->
    <!-- This is for color legend -->
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <div id='colorLegendDiv'>
            </div>
    </div>

    <br>

</div>
