<div class="container">
    <div class="row">

        
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12" >
          <canvas class='mapCanvas' id="myCanvas" style="border:1px solid #c3c3c3;" >
            Your browser does not support the HTML5 canvas tag.
          </canvas>
        </div>

        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12" >

          <div id='buttonDiv'>
            <input type="button" id="resetCanvasButton" value="Reset Polygon" />
            <input type="button" id="changeMapButton" value="Submit Change to the Map" />
            <input type="button" id="submitChangetoServerButton" value="Submit Change to the Server" />
          </div>

          <div id='mapControl'>
            <input type="button" id="removeOverlay" value="Remove the overlay image" />
            <input type="button" id="addOverlay" value="add the overlay image" />
          </div>
        </div>

        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
          <div id='googleMapDiv' style="width:800px;height:600px;">

          </div>
        </div>
            
    
    </div>

</div>
