<div id="vegetation-type-selector" 
     class="btn-group" data-toggle="buttons"> 
    <label class="btn btn-custom active" for="">
        <input id="bareground0" type="radio" value=0
               name="vegcode-select" autocomplete="off">
        <span class="legend" id="bare-ground-square">&#9608;</span>  Bare Ground
    </label>
    <label class="btn btn-custom">
        <input id="grasses1" type="radio" value=1
               name="vegcode-select" autocomplete="off">
        <span class="legend" id="grasses-square">&#9608;</span>  Grasses
    </label>
    <label class="btn btn-custom">
        <input id="shrubs2" type="radio" value=2
               name="vegcode-select" autocomplete="off">
        <span class="legend" id="shrubs-square">&#9608;</span>  Shrubs
    </label>
    <label class="btn btn-custom">
        <input id="trees3" type="radio" value=3
               name="vegcode-select" autocomplete="off">
        <span class="legend" id="trees-square">&#9608;</span>  Trees
    </label>
    <label class="btn btn-custom">
        <input id="conifers4" type="radio" value=4
               name="vegcode-select" autocomplete="off">
        <span class="legend" id="conifers-square">&#9608;</span>  Conifers
    </label>
</div>
