<div id="vegetation-type-selector" 
     class="btn-group" data-toggle="buttons"> 
    <label class="btn btn-custom active" for="">
        <input id="bareground0" type="radio" value=0
               name="vegcode-select" autocomplete="off">
        0 - Bare Ground
    </label>
    <label class="btn btn-custom">
        <input id="grasses1" type="radio" value=1
               name="vegcode-select" autocomplete="off">
        1 - Grasses
    </label>
    <label class="btn btn-custom">
        <input id="shrubs2" type="radio" value=2
               name="vegcode-select" autocomplete="off">
        2 - Shrubs
    </label>
    <label class="btn btn-custom">
        <input id="trees3" type="radio" value=3
               name="vegcode-select" autocomplete="off">
        3 - Trees
    </label>
    <label class="btn btn-custom">
        <input id="conifers4" type="radio" value=4
               name="vegcode-select" autocomplete="off">
        4 - Conifers
    </label>
</div>
