<!-- Home page for our human adaptor -->
{% extends "base.html" %}
{% set active_page = "index" %}
{% block link %}
    {{ super() }}
    <link href="/static/index.css" rel="stylesheet">
{% endblock %}
{% block head_ext %}
    {{ super() }}
    <style>
      #map {
        width: 80%;
        height: 350px;
        margin: 20px auto;
      }
      #new-scenario-menu {
        position: relative;
      }
      #new-scenario-menu-content {
        position: absolute;
        transform: translate(0, 25%);
      }
      #scenario-list {
          display: table;
      }
      .section-header {
        text-decoration: underline;
      }
    </style>
{% endblock %}

{% block content %}
<div class=indexainer">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" id="new-scenario-menu">
            <div id="new-scenario-menu-content">
                <h3 class="section-header">Create a New Scenario</h3>
                <button style="width: 100%" class="btn btn-default">Add Polygon</button>
                <hr/>
                <label for="scenario-name">Scenario Name</label>
                <input type="text" name="scenario-name" 
                       style="width: 100%" id="scenario-name-input" />
                <button class="btn btn-default" style="width: 100%; margin-top: 15px;">Run Scenario</button>
            </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12" >
            <div id="map"></div>
        </div>
    </div>
    <div class="row">
        <div id="scenario-list">
            <h3 class="section-header">List of Completed Scenarios</h3>
        </div>
    </div>
</div>

<script>
function initMap() {
    var mapDiv = document.getElementById('map');
    var map = new google.maps.Map(mapDiv, {
        center: {lat: 39.0058, lng: -114.2197},
        zoom: 10
    });
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?callback=initMap"
        async defer></script>
{% endblock %}
